* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 100px;
}

header {
    height: 80px;
    background-color: black;

    a {
        color: #FFF;
        font-size: 18px;
        transition: 0.5s;

        &:hover {
            color: #99d8ff;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 100px;
}


